VITE_FIREBASE_API_KEY=AIzaSyDLltRuNFF5U_nJl8UECvDX3CnyROvMlyc
VITE_FIREBASE_AUTH_DOMAIN=mapeamento-esportivo.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=mapeamento-esportivo
VITE_FIREBASE_STORAGE_BUCKET=mapeamento-esportivo.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=256881997860
VITE_FIREBASE_APP_ID=1:256881997860:web:9305e6ca0b9659a6ecc0b1
VITE_FIREBASE_MEASUREMENT_ID=G-7TLXYPLN3D
# Configure this when Firebase App Check with reCAPTCHA Enterprise is enabled.
VITE_RECAPTCHA_ENTERPRISE_SITE_KEY=
